/* Dashboard Container */
.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #D5C1DE; 
    font-family: "Poppins", sans-serif;
  }

  /* Title */
  .dashboard-title {
    font-size: 2.5rem;
    font-weight: 600;
    color: #66489D; 
    margin-bottom: 1.5rem;
    text-align: center;
  }

  /* Content Section */
  .dashboard-content {
    text-align: center;
  }

  /* Welcome Text */
  .dashboard-welcome {
    font-size: 1.6rem;
    color: white;
    margin-bottom: 2rem;
    font-weight: 900; /* Increased font weight for a thicker appearance */
  }

  .dashboard-username {
    font-weight: 900;
    color: #66489D; 
  }

  /* Loading Text */
  .dashboard-loading {
    font-size: 1.2rem;
    color: #453766; 
  }

  /* Logout Button */
  button {
    font-size: 1rem;
    font-weight: 600;
    color: #66489D;
    border: 2px solid #66489D;
    background-color: transparent;
    padding: 0.8rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  button:hover {
    background-color: #453766;
    color: white;
  }
